.head {
    background-color: #2C3E50;
    width: 71%;
    height: 50px;
    margin-left: 180px;
    display:flex;
    
    
 
}

#busca {
   border-radius: 15px;
   width: 60%;
   margin: auto;
   padding: 6px;
   margin-left: 90px;
   background-image: url(img/lupa.png);
   background-repeat: no-repeat;
   cursor: pointer;
 
}

#img-perfil{
    margin: auto;
    padding-left: 96px;
    right: 15px;
    max-width: 50px;
    max-height: 50px;
}

#main{
    display: flex;
}

.imagezup{
   
    padding:0px;
    width: 100px;;
    right: 0px;    

}

#menu{
    display: inline-flex;
    background-color: red;
    margin:0px 50px 0px 180px;
    height: 500px;
    flex-direction: column;
    
  
}

#tabela{
    
    border: 1px solid;
    margin-top: 33px;
  
}



#tabela tr td{
    width: 100px;
    height: 0px;
    text-align: center;
    font-family: sans-serif;
    
   

}

body{
    background-color: #F9F9F9;
}