.head {
    background-color: #2C3E50;
    width: 100%;
    height: 62px;
    margin-left: 300px;
    display:flex;
 
}

.imagezup{
   
    padding:0px;
    width: 100px;;
    right: 0px;
    



   
    

    
    

}
