.container{
    background-color:#2C3E50;
    width: 70%;
    min-height: 300px;
    margin-left: 15%;

}

.container2{
    background-color:#F4F4F4;
    width: 70%;
    min-height: 400px;
    margin-left:15%;
}