.head {
    background-color: #2C3E50;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 10px;
    align-items: center;


    
    
 
}

#busca {
   border-radius: 15px;
   width: 60%;
   margin: auto;
   padding: 6px;
   margin-left: 90px;
   background-image: url(img/lupa.png);
   background-repeat: no-repeat;
   cursor: pointer;
   text-align: center;
 
}

#img-perfil{
   
    right: 15px;
    
   
    
}

#main{
    display: flex;
    
}

.imagezup{
   
    padding:0px;
    width: 100px;;
    right: 0px;    

}

#menu{
    display: inline-flex;
    background-color: white;
    height: 500px;
    flex-direction: column;
    margin-right: 100px;
    min-width: 193px;
   
}

.opcao{

    cursor: pointer;
    
}

.fa-home{
    cursor: pointer;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 15px;
    
}
 
.fa-search{
    cursor: pointer;
    text-align: center;
    word-spacing: 15px;
    letter-spacing: 2px;
}

.fa-trash{
    cursor: pointer;
    text-align: center;
    word-spacing: 15px;
    letter-spacing: 2px;
}


#menu :hover{
    color:yellowgreen;
}

#tabela{
    
    border: 1px solid;
    margin-top: 33px;
      
}



#tabela tr td{
    width: 120px;
    height: 0px;
    text-align: center;
    font-family: sans-serif;
    
}
   
    .image{
        max-width: 59px;
        padding-left: -12px;
        border-radius: 100%;
        cursor: pointer;
        margin: 10px;
    
}

body{
    background-color: #F9F9F9;
}


.button{
    padding: 5px;
    border-radius: 10px;
    background-color: #ABABAB;
    color: floralwhite;
    cursor: pointer;
    justify-content: space-between;
    word-spacing: 5px;
    margin: 0 10px;

    
}

