.container1{
    background-color:#2C3E50;
    width: 70%;
    min-height: 300px;
    margin-left: 15%;
    position: relative;
    top: 0;



}

.button{
    width:50px;
    margin:15px;
    cursor:pointer;
}

.container2{
    background-color:#F4F4F4;
    width: 70%;
    min-height: 400px;
    margin-left:15%;
    position: relative;
    
    
    
}

.container3{
    background-color: #FFFFFF;
    width: 39%;
    left: 13%;
    min-height: 500px;
    margin-left: 17%;
    z-index: 1;
    margin-top: -500px;
    position: relative;
    display: flex;
    justify-content: space-between;
    
}

.container4{
    background-color:#F4F4F4;
    width: 39%;
    min-height: 102px;
    margin-left: 11%;
    position:fixed;
    z-index: 1;
    right: 31%;
    
    
    
    
    
    
    
}

#img{
    width:29%;
    left: 80px;
    margin-left: 180px;
    border-radius: 181px;
    position: absolute;
    z-index: 1;
    display: block;
    top: 39px;
   

}


.personal-data{
    
    width: 5%;
    top: 400px;
    left: 994px;
    text-align: center;
    position: absolute;
    cursor: pointer;
    z-index: 5;
    
    
    
    
    
 
    
}

.data{
    width: 5%;
    top: 400px;
    left: 600px;
    text-align: center;
    z-index: 5;
    position: absolute;
   cursor: pointer;

}

.email-address{
    width: 5%;
    top: 410px;
    left: 845px;
    text-align: center;
    position: absolute;
    z-index: 5;
    cursor: pointer;
}

.password{
    width: 5%;
    top: 400px;
    left: 720px;
    text-align: center;
    position: absolute;
    cursor: pointer;
    z-index: 5;
    
    
}

.password:hover{

      border: solid olivedrab;
}

.data:hover{

    border: solid olivedrab;
}

.email-address:hover{

    border: solid olivedrab;
}

.personal-data:hover{

    border: solid olivedrab;
    display: block;
    background-image: url(img/imagem.png);
    
}


.hide{
    display: none;
}

.data:hover +.hide {
    display: block;
    color:red;
    top:10px;
    margin: 50px;
    top:450px;
    display:flex;
    z-index:5;
    left:660px;
    right:12px;
    position: absolute;
}



.personal-data:hover +.hide{
    display:block;
    color: red;
    top:10px;
    margin: 50px;
    top:450px;
    display:flex;
    z-index:5;
    left:682px;
    right:12px;
    position: absolute;
    
}

.password:hover +.hide{
    display:block;
    color: red;
    top:10px;
    margin: 50px;
    top:450px;
    display:flex;
    z-index:5;
    left:682px;
    right:12px;
    position: absolute;
    
}

.email-address:hover +.hide{
    display:block;
    color: red;
    top:10px;
    margin: 50px;
    top:450px;
    display:flex;
    z-index:5;
    left:620px;
    right:12px;
    position: absolute;
    
}

