.header{
        padding: 175px;
        padding-top: 10%;
        background: #2C3E50;
}

.main{
  background-color: rgb(207, 207, 221);
  width: 503px;
  height: 373px;
  position: relative;
  margin-top: -219px;
  margin-left: 489px;
  padding-left: 41%;
  margin-right: 30%;
  right: 208px;
  padding: 80px;
  vertical-align: middle;
  
  
 
}
.main:nth-child(odd) {
  background-color:#222222;
}
.main:nth-child(even) {
  background-color:#292929;
}

.imagem{
    max-width: 232px;
    padding-left: -12px;
    border-radius: 50%;
    cursor: pointer;
    padding-left: 140px;
    padding-right: 142px;
    position: absolute;
    object-fit: cover;
   
    
  
} 

.texto {
    padding-left: 15px ;
    padding-right: 30px;
    padding-top: 15px;
    position:static; 
    text-align: center;  
}

.texto2{

  padding-left: 15px ;
  line-height: 478px;
  text-align: center;
 
}

.button{
 
  width: 150px;
  height: 150px;
  position: relative;
  top: -120px;
 right: -700px;
 text-align: center;

  
}

.boneco{
  border-radius: 68px;
  right: 50px;
  margin-left: -312px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  
}

.calendario{

  border-radius: 20px;
  right: 50px;
  margin-left: 41px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  
 

}

.carta{
  margin-left: 41px ;
  border-radius: 20px;
  border-style: solid;
  border-color:black;
  cursor: pointer;
 
}

.chave{
  margin-left: 41px;
  border-radius: 36px;
  border-style: solid;
  border-color:black;
  cursor: pointer;
 
}

body{
  background-image: url(../img/imagem.png);
}

.boneco{
  background-color: red;
}